.cabecalho {
    align-items: center;
    background-color: var(--cor-cabecalho-bg);
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding-bottom: .6rem;
    padding-top: .6rem;
}

.cabecalho--container {
    align-items: center;
    display: flex;
}

.cabecalho__menu {
    height: 15px;
    margin-right: 2rem;
    width: 20px;
}

.cabecalho__menu:hover {
    cursor: pointer;
}

.cabecalho__barra {
    background-color: var(--branco);
    border-radius: 2px;
    height: 2px;
    margin-bottom: 5px;
    width: 100%;
}

.cabecalho__barra:last-child {
    margin-bottom: 0;
}

.cabecalho__logo {
    max-width: 30px;
}

.cabecalho__texto--logo {
    color: var(--branco);
    font-weight: 500;
    margin-left: 2px;
}

.cabecalho--container--form {
    width: 45%;
}

.cabecalho--container__busca {
    flex-grow: 1;
    width: 40%;
}

.cabecalho__form {
    display: flex;
    flex-grow: 1;
}

.cabecalho__icone {
    margin-right: 2rem;
}

.cabecalho__input {
    background-color: #030303;
    border: 1px solid #414040;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: .8rem .5rem;
    width: 85%;
}

.cabecalho__botao {
    background-color: #414040;
    border: 1px solid transparent;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    flex-grow: 1;
}

.cabecalho__icone {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.cabecalho__icone:hover {
    cursor: pointer;
}

.cabecalho__icone--lupa {   
    display: inline-block;
    margin-right: 0;
    margin-top: 4px;
}

.cabecalho__icone--microfone {
    margin-left: 1rem;
    margin-right: 0;
}

.cabecalho__img--usuario {
    background-image: url("../img/cabecalho/usuario/usuario.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
