.icone--lupa {
    background-image: url("../img/cabecalho/icones/lupa-arredondada.png");
}

.icone--microfone {
    background-image: url("../img/cabecalho/icones/microfone-gravador.png");
}

.icone--criar {
    background-image: url("../img/cabecalho/icones/video-camera.png");
}

.icone--apps {
    background-image: url("../img/cabecalho/icones/app.png");
}

.icone--notificacoes {
    background-image: url("../img/cabecalho/icones/notificacao.png");
}

.icone--inicio {
    background-image: url("../img/aside/icones/inicio.svg");
}

.icone--explorar {
    background-image: url("../img/aside/icones/bussola.png");
}

.icone--shorts {
    background-image: url("../img/aside/icones/shorts.svg");
}

.icone--inscricoes {
    background-image: url("../img/aside/icones/inscricoes.png");
}

.icone--biblioteca {
    background-image: url("../img/aside/icones/biblioteca.png");
}

.icone--historico {
    background-image: url("../img/aside/icones/historico.png");
}

.icone--videos {
    background-image: url("../img/aside/icones/play-alt-free-icon-font.png");
}

.icone--tarde {
    background-image: url("../img/aside/icones/relogio.png");
}

.icone--clipes {
    background-image: url("../img/aside/icones/tesouras.png");
}

.icone--mais {
    background-image: url("../img/aside/icones/angle-down-free-icon-font.png");
}

.icone--edu {
    background-image: url("../img/aside/usuarios/BRKsEDU.jpg");
}

.icone--akita {
    background-image: url("../img/aside/usuarios/FabioAkita.jpg");
}

.icone--lima {
    background-image: url("../img/aside/usuarios/FabioLima.jpg");
}

.icone--funky {
    background-image: url("../img/aside/usuarios/Funky.jpg");
}

.icone--away {
    background-image: url("../img/aside/usuarios/Away.jpg");
}

.icone--premium {
    background-image: url("../img/aside/icones/youtube.svg");
}

.icone--filmes {
    background-image: url("../img/aside/icones/filme.svg");
}

.icone--jogos {
    background-image: url("../img/aside/icones/jogos.svg");
}

.icone--live {
    background-image: url("../img/aside/icones/live.png");
}

.icone--aprender {
    background-image: url("../img/aside/icones/aprender.svg");
}

.icone--esportes {
    background-image: url("../img/aside/icones/esportes.svg");
}

.icone--configuracoes {
    background-image: url("../img/aside/icones/configuracoes.svg");
}

.icone--denuncias {
    background-image: url("../img/aside/icones/denuncias.svg");
}

.icone--ajuda {
    background-image: url("../img/aside/icones/ajuda.svg");
}

.icone--feedback {
    background-image: url("../img/aside/icones/feedback.svg");
}