.lateral {
    grid-area: aside;
    background-color: var(--cor-aside-bg);
    font-size: .9rem;
}

.lateral--container__conteudo {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.lateral__item:hover {
    background-color: #3a3939;
}

.lateral__link {
    text-decoration: none;
    color: var(--branco);
    display: flex;
    align-items: center;
}

.lateral--container__inicio, .lateral--container__meio, .lateral--container__inscricoes, .lateral--container__mais, .lateral--container__fim {
    border-bottom: 1px solid #3a3939;
}

.lateral__icone {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: .8rem 1.5rem;
}

.lateral__titulo {
    color: #afacac;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 1rem;
}

.lateral__texto {
    flex-grow: 1;
}

.lateral__icone--criadores {
    height: 28px;
    width: 28px;
    border-radius: 100%;
}
